h2 {
  padding: 0px;
  text-decoration: none;
  font-family:  'Exo 2', Tahoma, Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 24px;
  font-weight: normal;
  /* color: #7f7f7f; */
  /* color: rgb(191, 191, 191); */
  vertical-align:top;
}

h3 {
  padding: 0px;
  text-decoration: underline;
  font-family:  'Exo 2', Tahoma, Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 18px;
  font-weight: normal;
  /* color: #7f7f7f; */
  /* color: rgb(191, 191, 191); */
  vertical-align:top;
}

p {
	text-decoration: none;
  font-family:  'Exo 2', Tahoma, Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 14px;
  font-weight: normal;
  /* color: #7f7f7f; */
  /* color: rgb(191, 191, 191); */
  width: 640px;
}

img {
	padding: 0px;
  margin: 0px;
  vertical-align:top;
}

img:hover {
	transform: scale(1.0);
}

.img {
  padding: 0px;
  margin: 0px;
  vertical-align:top;
  height: 1%;  
}